<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1>Home Page</h1>

  <h2>Vinyl</h2>

  <% if(false) { %>
    <a href="/profile" >Profile<a>
    <a href="/signout" >Sign-Out<a>
  <% } else{ %>
    <a href="/login" >Sign-In<a>
    <a href="/signup" >Sign-Up<a>
  <% } %>

  <h3>Records</h3>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

</body>
</html>
