<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h2>Hot Albums</h2>
  <hr>
  <h1>Login</h1>
  <form action="/login" method="post">
    Name&nbsp<input type="text" name="username" placeholder="Your Name Here">
    Password&nbsp<input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>

</body>
</html>
