<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h1>Profile</h1>
  <p><%= result.name %></p>
  <p><%= result.email %></p>
</body>
</html>
