<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h3 class="header">Profile</h3>
  <hr>
  <div class="nav">
    <h3 class="left-element">Vinyl</h3>
    <a class="link2" href="/">Home</a>
    <a class="link1" href="/profile">Profile</a>
  </div>
  <hr>
  <div class="reviews">
    <h2>Name: <%= user[0].name %></h2>
    <h3>Email: <%= user[0].email %></h3>
  </div>

</body>
</html>
