<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h1>Sign-Up</h1>

  <form action="/signup" method="post">
    Name&nbsp<input type="text" name="username" placeholder="Your Name Here">
    Email&nbsp<input type="email" name="email" placeholder="Email Address">
    Password&nbsp<input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
