<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h1>Sign-Up</h1>
  <% if(responseMessage){ %>
    <p><%= responseMessage %></p>
  <% } %>
  <form action="/signup" method="post">
    Name&nbsp<input type="text" name="username" placeholder="Your Name Here" required>
    Email&nbsp<input type="email" name="email" placeholder="Email Address" required>
    Password&nbsp<input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Submit">
  </form>

</body>
</html>
