html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
body {
  padding: 8px;
  border: 2px solid #1c1c1c;
}
.header {
  display: flex;
  justify-content: flex-start;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.album-view {
  margin-left: 2%;
}
.album-review {

}
.link1 {
  position: absolute;
  right: 5%;
}
.link2 {
  position: absolute;
  right: 10%;
}
.link3 {
  position: absolute;
  right: 0.7%;
}
.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.new-review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-text-area {
  height: 20em;
  width: 50em;
}
.review-submit-button {
  margin-top: 10px;
}
.user-review-divider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #1c1c1c;
  width: 80%;
}
.review-list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  right: 0%;
  top: 75%;
  width: 50%;
  height: 44%;
}
.home-page-image {
  width: 100%;
  height: 340px;
}
.review-delete {
  height: 25px;
}
.review-add-header {
  display: flex;
  justify-content: center;
}
.review-add-header-title {
  display: flex;
  justify-content: center;
}
